    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div id="about_change" class="container">
            <div class="row">
            <!-- <div class="col-lg-7 col-lg-offset-1"> -->
                <h2>About Me.</h2>
                <hr class="intro-divider">
                <div class="clearfix"></div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-6 col-lg-sm-5">                
                    <font size="4px">
                    <br>
                    <p>I am currently a PhD student at <a href="http://ntu.edu.sg">NTU Singapore</a> working with <a href="http://www.ntu.edu.sg/home/wslin/"> Prof. Weisi Lin</a> in the Multimedia Graduate Lab. I joined NTU in August 2013. Prior to joining NTU, I was an undergraduate student at <a href=http://www.bits-pilani.ac.in/hyderabad/> Birla Institute of Technology and Sciences (BITS) - Pilani </a> , India, from where I graduated in 2013 with a B.E.(Hons) in Computer Science.</p> 
                    <p>My research focuses on modelling the influence of human factors, such as personality and culture, on users' experience of affect, perception of quality and enjoyment in multimedia.</p>
                    </font>
                </div>
            
                <div class="col-lg-4 col-lg-offset-1 col-lg-sm-4 col-lg-sm-4">
                    <img class="img-responsive center-block" src="img/profile.jpg" alt="Lost Image!">
                </div>    
            </div>
        </div>    
    </section>
